@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Noto+Sans & display=swap");
/*Делаем обнуление стилей*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    list-style-type: none;
}

html, body {
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*Контейнер*/
.container{
    display: flex;
    flex-direction: column;
}

/*Шапка сайта*/
header{
    position: absolute;
    transition: all 1s ease;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 8vh;
}

header.fixed {
    background: #202020;
    position: fixed; 
    animation: show_header 1s;
}

/*Логотип Сайта*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 9vh;
}

.logo img{
    width: 20vh;
    height: 15vh;
}

/*Меню Сайта*/
.burger-menu_button {
    position: absolute;
    top: 1.5vh;
    right: 2vh;
    z-index: 30;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 3vh;
    height: .3vh;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -1.2vh;
}

.burger-menu_lines::after {
    content: '';
    top: 1.2vh;
}

.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 12vh;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #292829af;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_link {
    padding: 1.8vh 3.5vh;
    font-size: 5vh;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #ffffff;
}
.burger-menu_link:first-child {
    border-top: 0.5vh solid #fff;
}
.burger-menu_link:hover {
    filter: brightness(0.9);
}
.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

section {
font-family: sans-serif;
font-size: 7.2vh;
color: #000;
}

/*Секция_1*/
.main_foto{
    background: url(/img/main_photo2.png) 0 0/100% 100% no-repeat fixed;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 5vh;
    width: 100%;
    height: 100vh;
}

.privet{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100vh;
}

.privet p {
    line-height: 5vh;
}

.privet button {
    margin-right: 64vh;
    padding: 2vh;
    background: #FFE4C4;
    color: rgb(73, 69, 69);
    font-weight: 700;
    border: none;
    font-size: 2vh;
}

.verh_text{
    margin: none;
    font-size: 4vh;
    width: 85vh;
    text-transform: uppercase;
}

.niz_text{
    margin-top: 0vh;
    width: 85vh;
    font-weight: 500;
    font-size: 2.5vh;
}

/*Секция_2*/
#section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020;
}

h1{
    margin-top: 15vh;
    margin-bottom: 5vh;
    color: white;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: 400;
}

p {
    font-weight: 400;
    color: white;
    font-size: 2vh;
    margin-bottom: 4vh;
}

.podpis{
    text-align: center;
    line-height: 4vh;
    width: 50vh;
}

.catalog_foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
}

.catalog_foto img {
    width: 98vh;
    height: 60vh;
}

/*Секция_3*/
#section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020;
    height: 85vh;
}

.colum{
    margin-top: 10vh;
    display: flex;
    width: 70%;
    height: 40vh;
}

.colum h1{
    text-transform: none;
    line-height: 3.5vh;
    width: 30vh;
    margin-top: 4vh;
    margin-left: 2vh;
    font-size: 2vh;
}

.colum p{
    margin-top: -2vh;
    line-height: 3vh;
    font-size: 1.5vh;
    margin-right: 2vh;
    margin-left: 2vh;
}

.one{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 25vh;
}

.two{
    border-right: 2px solid rgb(134, 132, 132);
}

/*Секция_4*/
#section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020;
    height: 115vh;
}

#section-4 p{
    text-align: center;
    line-height: 4vh;
    width: 50vh;
}

#section-4 img {
    max-width: 100%;
}

.perekhodnaya-kartinka {
    position: relative;
    width: 90%;
    max-width: 120vh;
}

.perekhodnaya-kartinka img {
    display: block;
}

.keniyaraza-meraizob {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #f7f7fd;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.keniyaraza-meraizob.is-hidden {
    visibility: hidden;
}

.is-visible .keniyaraza-meraizob {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.ameneniye-brazheniya {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background: url("/img/srav_1.jpg") no-repeat left top;
    background-size: auto 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ameneniye-brazheniya .keniyaraza-meraizob {
    right: auto;
    left: 0;
}

.is-visible .ameneniye-brazheniya {
    width: 50%;
    -webkit-animation: cd-bounce-in 0.7s;
    -moz-animation: cd-bounce-in 0.7s;
    animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
    0% {
    width: 0;
    }
    60% {
    width: 55%;
    }
    100% {
    width: 50%;
    }
}

@-moz-keyframes cd-bounce-in {
    0% {
    width: 0;
    }
    60% {
    width: 55%;
    }
    100% {
    width: 50%;
    }
}

@keyframes cd-bounce-in {
    0% {
    width: 0;
    }
    60% {
    width: 55%;
    }
    100% {
    width: 50%;
    }
}

.handle {
    position: absolute;
    height: 44px;
    width: 44px;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    background: #636061 url("http://zornet.ru/CSS-ZORNET/Abvan/numerdigsa/dekangan/arrows.svg") no-repeat center center;
    cursor: move;
    box-shadow: 0 0 0 6px rgba(12, 12, 12, 0.2), 0 0 10px rgba(8, 8, 8, 0.6), inset 0 1px 0 rgba(247, 247, 247, 0.3);
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    -moz-transform: translate3d(0, 0, 0) scale(0);
    -ms-transform: translate3d(0, 0, 0) scale(0);
    -o-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
}
.handle.draggable {
    background-color: #445b7c;
}
.is-visible .handle {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}
.kodirovka{
    bottom: 5%;
    left: 5%;
    position: fixed;
}
.kodirovka div {
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
    background-color: red;
}
.kodirovka div a{
    text-decoration: none;
    color: #fdfbfb;
    font-weight: 800;
}

/*Секция_5*/
#section-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020;
    height: 100vh;
}

.cena{
    display: flex;
    width: 130vh;
    align-items: center;
    justify-content: center;
}

.cena_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    border: 1px solid white;
    width: 30vh;
    height: 30vh;
}

.cena_block h1 {
    margin-top: 0px;
    font-size: 2vh;
}

.cena_block h2 {
    font-size: 3vh;
    color: white;
    font-weight: 500;
}

.cena_block button{
    padding: 2vh;
    color: white;
    font-size: 2vh;
    font-weight: 100;
    background: none;
    margin-top: 5vh;
    border: 1px solid white;
}

.cena_block p {
    margin-top: -3vh;;
    font-size: 1.8vh;
    color: #636061;
}

.bl_two {     
    width: 35vh;
    height: 35vh;
}

.sec_5_niz{
    margin-top: 5vh;
    text-align: center;
    width: 60vh;
    line-height: 4vh;
}

/*Секция_6*/
#section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020;
    height: 150vh;
}

.sec_6 p{
    text-align: center;
    width: 60vh;
    line-height: 4vh;
}

.sec_6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_second{
    margin-top: 5vh;
    width: 100vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_second h3 {
    color: white;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.b_two p {
    font-size: 1.5vh;
    line-height: 3vh;
    width: 75vh;
    color: #bdb9ba;
}

.b_one{
    border: 1px solid white;
    margin: 4vh;
    width: 20vh;
    height: 50vh;
}

.b_one img{
    margin-top: -6vh;
    margin-left: 0vh;
    width: 30vh;
    height: 100vh;
}

.b_two {
    width: 130vh;
    height: 50vh;
}